{{>layout/admin/admin_header}}
<link rel="stylesheet" href="/css/admin/member-mng.css">
<div class="background container-fluid">

    <h3>Summary</h3>

    <div class="col-md-12">
        <h5>신규 가입자</h5>
        <h5>신규 게시글</h5>
        <h5></h5>

    </div> <!-- source ends -->

</div>

{{>layout/footer}}