<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>



    <div>
        <!--footer left side-->
        <div>
            <a href="/">Logo</a>
            <ul>
                <li>Team pinkblood</li>
                <li>대표메일 : </li>
                <li>통신판매업신고 :  임시</li>
                <li>사업자등록번호 : 임시</li>
            </ul>
            <p>저희 사이트에서는 고객님의 결제에 관한 책임을 지지 않습니다.</p>
            <p>ⓒ Logo all rights reserved</p>
        </div>
        <!--footer right side-->
        <div>
            <!--small font size sitemap-->
            <div>
                <ul>
                    <li>로그인</li>
                    <li>고객센터</li>
                    <li>전체목록</li>
                    <li>그룹/가수별</li>
                </ul>
                <p>Instagram</p>
                <p>Twitter</p>
            </div>

        </div>
    </div> <!--end footer -->

</body>
</html>