.group_navi {
  height: 200px;
}
.group_navi>li {
  width: 189px; height: 189px;
  margin: 5px;
}

.sub_navi {
  height: 150px;
  display: none;
  margin-top: 10px;
  border-top: dotted;
}
.sub_navi>li {
  width: 140px; height: 140px;
  margin: 5px; padding: 0px;
  background: lightgreen;
  border-radius: 50%;
}

/* card_list */
.list_container {
  width: 800px; height: auto;
  margin: 100px 0 0 0; padding: 0;
  background: lightsalmon;
}
.board_list {
  width: 800px; height: auto;
  background: lightblue;
}
.board_list>li {
  width: 256px;
  height: 400px;
  margin: 5px;
  background: lightgreen;

}

