{{>layout/admin/admin_header}}
<link rel="stylesheet" href="/css/common/basic.css">
<link rel="stylesheet" href="/css/admin/member-mng.css">
<script src="/js/common/jquery.twbsPagination.js"></script>

<div class="background container-fluid">
    <div class="col-md-12 mt-5">
    <h2>회원관리</h2>

        <br/>
        <!-- 목록 출력 영역 -->
      <div style="background-color:yello;">
        <ul id="list">
            <!--상단 제목 열//-->
            <li class="">가입번호</li>
            <li class="menu">이메일</li>
            <li class="menu">이름</li>
            <li class="menu">프로필</li>
            <li class="menu">연락처</li>
            <li class="menu">활동여부</li>
            <li class="menu">사용자구분</li>
            <li class="menu">등록일</li>
            <li class="menu">수정일</li>
            <!--// 상단 제목 열-->
          <!-- {{#posts}} posts라는 list 순환, java-for -->
            <li class="">1</li>
            <li class="menu"><a href="">ja@gmail.com</a></li>
            <li class="menu">김제이에이</li>
            <li class="menu">img</li>
            <li class="menu">010-0000-0000</li>
            <li class="menu">Y</li>
            <li class="menu">GUEST</li>
            <li class="menu">2022.02.07</li>
            <li class="menu">2022.02.07</li>

            <li class="">2</li>
            <li class="menu"><a href="">su@gmail.com</a></li>
            <li class="menu">장수우</li>
            <li class="menu">img</li>
            <li class="menu">010-1000-0000</li>
            <li class="menu">Y</li>
            <li class="menu">GUEST</li>
            <li class="menu">2022.02.07</li>
            <li class="menu">2022.02.07</li>
           <!-- {{/posts}}-->
        </ul>
      </div>
    </div> <!-- source ends -->


</div>

{{>layout/footer}}