/*list setting*/
ul, li { margin:0; padding:0; list-style:none;}
	#list{margin-top:10px;}
#list li{
		width:7%; height:50px; line-height:50px; border-bottom:1px solid lightgray; float: left;
		text-align:center;
	}
#list li {font-size:0.9px}
	#list li:nth-child(9n+2){width:20%; text-align:left;}
	#list li:nth-child(9n+2) a{color:black; }
	#list li:nth-child(9n+3){width:20%;}
  #list li:nth-child(9n+4){width:5%;}
  #list li:nth-child(9n){width:15%;}