.menu_ul{background-color:yellow;}
.side_ul{background-color:blue}
#logo{background-color:gray;}
#searchWrap{float: left; text-align:left;  }
.searchForm{border:none; border-bottom:1px solid black; width:300px}


.side_ul {list-style: none; }
.side_ul li {float:left; padding-left:5px;}
.side_ul a {font-size:xx-small; color:black;}


header>ul{
	display: flex;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
}

header>ul>li{
	font-size: 15px;
	float: left;
}

header>ul>li>a:hover{
	color:black;
	font-weight: bold;
	font-size: 16px;
}
.row{margin:0; padding:0;}