{{>layout/header}}
<div class="background">
    <div class="board_navi">
        <ul class="group_list">
            <li>group 1</li>
            <li>group 2</li>
            <li>group 3</li>
            <li>group 3</li>
        </ul>
    </div>
    <div class="sub_navi">
        <ul class="sub_list">
            <li>member 1</li>
            <li>member 2</li>
            <li>member 3</li>
            <li>member 4</li>
            <li>member 5</li>
        </ul>
    </div>
    <h1 id="what_name">

    </h1>
    <div class="list_container">
        <ul class="board_list">
            <li>상품 1</li>
            <li>상품 2</li>
            <li>상품 3</li>
            <li>상품 4</li>
        </ul>
    </div>

</div> /* background 끝 */


{{>layout/footer}}
