{{>layout/header}}
<div class="background">
    <div class="board_navi">
        <ul class="clearfix group_navi navi_style">
            <li>group1
                <!--        <div id="test_img">
                          group_list
                        </div> -->
            </li>
            <li>group 2</li>
            <li>group 3</li>
            <li>group 3</li>
        </ul>
        <ul class="clearfix sub_navi navi_style">
            <li>member 1</li>
            <li>member 2</li>
            <li>member 3</li>
            <li>member 4</li>
            <li>member 5</li>
        </ul>
    </div>

    <h1 id="what_name">

    </h1>
    <span>PHOCA</span><span>GOODS</span>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            카테고리
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Photo Card</a>
            <a class="dropdown-item" href="#">Goods</a>
        </div>
    </div>
    <div class="list_container">
        <ul class="clearfix board_list navi_style">
            <li>
                <div class="product_imgbox">
                    <img class="product_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD-y_Dw-2YKzMZXGQLyBtnE5B_UFDo7Dbgyw&usqp=CAU" alt="test" />
                </div>
                <ul class="product_title">
                    <li><span class="cate_fnt">[판매]</span> ￦ 5000</li>
                    <li class="cate_fnt">몬스타엑스, 셔누</li>
                    <li>
                        <span class="title_fnt">THE CONNECT in SEOUL</span>
                    </li>
                </ul>
            </li>
            <li>상품 2</li>
            <li>상품 3</li>
            <li>상품 4</li>
            <li>상품 5</li>
            <li>상품 6</li>
            <li>상품 7</li>
            <li>상품 8</li>
        </ul>
    </div>

</div>

{{>layout/footer}}
