{{>layout/header}}
<link rel="stylesheet" href="/css/common/basic.css">
<!--join.css 추가-->
<link rel="stylesheet" href="/css/guest/login2.css">
<div class="background">
<div id="login">
        <main class="login-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="main">
                            <div class="mx-15"><h3>로그인</h3></div>
                            <div class=" mx-3">
                                <form action="" method="">
                                    <div class="center-block btn-wrap">
                                        <a href="" class="btn btn-twitter btn-sm btn-block mx-2"> <i class="fab fa-twitter"></i>   TWITTER 로그인</a>
                                        <a href="" class="btn btn-google btn-sm btn-block mx-2"> <i class="fab fa-google"></i>   GOOGLE 로그인</a>
                                        <a href="" class="btn btn-naver btn-sm btn-block mx-2"> <i class="fab fa-naver"></i>   NAVER 로그인</a>

                                    </div>
                                    <div class="center-block">
                                        <a href="/member/user_find" class="btn btn-link ask" >
                                            계정을 잊으셨나요?
                                        </a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</main>
    </div>
</div>
{{>layout/footer}}
