{{>layout/header}}
<div class="background">
    <div class="list_container">
        <h1>상품 목록 만들기</h1>
        <ul>
            <li>상품 1</li>
            <li>상품 2</li>
            <li>상품 3</li>
        </ul>
    </div>
</div>

{{>layout/footer}}